<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education - My Web CV</title>
    <link rel="stylesheet" href="../../css/estils.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>Mi CV Web</h1>
            </div>
            <div class="menu-toggle" id="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="index_en.html"><i class="fas fa-user"></i> <span class="nav-text">About me</span></a></li>
                <li><a href="education.html" class="active"><i class="fas fa-graduation-cap"></i> <span class="nav-text">Studies</span></a></li>
                <li><a href="experience.html"><i class="fas fa-briefcase"></i> <span class="nav-text">Experience</span></a></li>
                <li><a href="../../index.html"><i class="fas fa-language"></i> <span class="nav-text">CASTELLANO</span></a></li>
            </ul>
        </nav>
    </header>

   <main>
        <section class="education">
            <h2><i class="fas fa-graduation-cap"></i> Academic Education</h2>
            
            <div class="education-item">
                <div class="education-date">
                    <i class="fas fa-calendar-alt"></i> 2023 - Currently
                </div>
                <div class="education-content">
                    <h3>Vocational Training Program in Microcomputer Systems and Networks.</h3>
                    <p>Throughout this cycle I have learned to assemble, configure and maintain computer equipment, install and manage operating systems such as Windows and Linux, and configure local and wireless networks. I have also worked with basic servers, computer security and applications.</p>
                    <br>
                    <p class="institution"><i class="fas fa-school"></i> Centre D'Estudis Joan XXIII, Barcelona</p>
                </div>
            </div>
            
            <div class="education-item">
                <div class="education-date">
                    <i class="fas fa-calendar-alt"></i> 2023 - 2023
                </div>
                <div class="education-content">
                    <h3>Technological Baccalaureate 1st Year</h3>
                    <p class="institution"><i class="fas fa-school"></i> Centre D'Estudis Joan XXIII, Barcelona</p>
                </div>
            </div>
            
            <div class="education-item">
                <div class="education-date">
                    <i class="fas fa-calendar-alt"></i> 2018 - 2022
                </div>
                <div class="education-content">
                    <h3>Obligatory Secondary Education (ESO)</h3>
                    <p class="institution"><i class="fas fa-school"></i> Centre D'Estudis Joan XXIII, Barcelona</p>
                </div>
            </div>
        </section>

        <section class="map-section">
            <h2><i class="fas fa-map-marker-alt"></i> Location of the Institut Joan XXIII</h2>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.113048888295!2d2.1047222759359587!3d41.34989647130463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d&#39;Estudis%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1746456394842!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h3>Contact me</h3>
                <p><i class="fas fa-envelope"></i> ikerqume11@gmail.com</p>
                <p><i class="fas fa-phone"></i> +34 633 51 43 70</p>
            </div>
            <div class="footer-section">
                <h3>My Socials</h3>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>